* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    padding: 50px;
}

/* Usando display (responsividade - altera de acordo com oscaracteres em H1)*/
h1 {
  color: rgba(0, 0, 0, 0.821);
  background-color: rgb(246, 163, 18);
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
}

/*
h1 {
  color: rgba(0, 0, 0, 0.821);
  background-color: rgb(246, 163, 18);
  border-radius: 20px;
  padding:10px 20px; 
  width: 400px;              
  margin: 0 auto;
  text-align: center;
}
*/

h2 {
    color: rgb(246, 163, 18);
    margin: 10px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 163, 18);
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
    margin: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    border: 30px;
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
    border-radius: 20px;
}





