* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-align: left;
    padding: 70px;
    margin: 20px;
    background-color: black;
}

h1 {
    color: white;
    margin-bottom: 30px;
}

p {
    color: white;
    margin-bottom: 30px;
    text-align: left;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(244, 37, 37);
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#mensagem {
    text-align: left;
    margin-top: 20px;

}


